/* src/pages/HomePage.css */

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #f8f9fa;
  padding: 20px;
  box-sizing: border-box;
}

.homepage-logo { 
    display: flex;
    justify-content: center;
}

.homepage-container h1 {
  font-size: 3.5rem;
  color: #212529;
  margin-bottom: 10px;
}

.homepage-container p {
  font-size: 1.2rem;
  color: #6c757d;
  margin-top: 0;
  margin-bottom: 40px;
}

.homepage-actions {
  display: flex;
  gap: 20px;
  align-items: center; /* 이 속성이 버튼들의 수평을 맞춰줍니다. */
}

.homepage-container button {
  padding: 15px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.login-button {
  background-color: #4CAF50;
  color: white;
  border-color: #4CAF50;
}

.login-button:hover {
  background-color: #45a049;
  border-color: #45a049;
}

.signup-button {
  background-color: #4CAF50;
  color: white;
  border-color: #4CAF50;
}

.signup-button:hover {
  background-color: #45a049;
  border-color: #45a049;
}